div:has(> .example-page) {
    --animation-duration: 750ms;
    --animation-delay: 150ms;

    display: grid;
    width: min(1920px, 100%);
    height: clamp(600px, 80vh, 1000px);
    place-self: center;
    gap: var(--spacing-md);
    font-size: 1.25em;

    transition: grid-template-columns var(--animation-duration) ease-in-out;
    transition-delay: var(--animation-delay);

    @container (width > 768px) {
        grid-template-columns: 1fr 0px;
    }
}

div:has(> .example-page+aside[aria-expanded="true"]) {
    @container (width > 768px) {
        grid-template-columns: 1fr 400px;
    }
}

.example-page {
    display: grid;
    place-content: center;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    font-size: 1em;
    position: relative;
}

.example-page button.toggle {
    position: absolute;
    inset: 0;
    margin-block: auto;
    margin-inline: auto var(--spacing-md);
    width: 32px;
    height: 64px;
    display: grid;
    place-content: center;

    background-color: var(--color-fg);
    border: 1px solid var(--color-border);
    border-radius: calc(var(--border-radius) / 2);
}

.example-page:has(+aside[aria-expanded="true"]) button.toggle {
    rotate: 0.5turn;
}

.example-page+aside {
    overflow-x: auto;
    overflow-y: clip;

    transition: opacity calc(var(--animation-duration) / 2) ease-in-out;
    transition-delay: calc(var(--animation-delay) * 2);

    &[aria-expanded="false"] {
        overflow-x: clip;
        opacity: 0;
    }

    #css-editor {
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius);
        padding: var(--spacing-md) var(--spacing-lg);
        background-color: transparent;
        height: 100%;
        margin: 0;
        width: 100%;
        tab-size: 4;
        font-size: 1em;
        transition: color var(--animation-delay) ease-in-out;

    }

    &[aria-expanded="false"] #css-editor {
        color: transparent;
    }

    &[aria-expanded="true"] #css-editor {
        transition-delay: calc(var(--animation-duration) + var(--animation-delay));
    }
}
