nav {
    display: flex;
    justify-content: space-between;
}

nav > a {
    color: var(--color-brand);
    text-decoration: none;
}

nav ul a {
    color: currentColor;
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
