@layer base, theme, components, override;

@import url("../lib/prismjs/prism-tomorrow.css") layer(base);
@import url("./view-transitions.css") layer(base);

@import url("./theme.css") layer(theme);

@import url("./buttons.css") layer(components);
@import url("./footer.css") layer(components);
@import url("./examplepage.css") layer(components);
@import url("./code-slides.css") layer(components);

body {
    height: 100dvh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    container-type: inline-size;
    container-name: body;
}

.container {
    padding-inline: min(4%, var(--spacing-xl));
}
