@layer base, theme, components, override;

@import url("/css/view-transitions.css") layer(base);

@import url("/css/theme.css") layer(theme);
@import url("/css/fonts.css") layer(theme);

@import url("/css/buttons.css") layer(components);
@import url("/css/examplepage.css") layer(components);
@import url("/css/startpage.css") layer(components);

body {
    height: 100dvh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    container-type: inline-size;
    container-name: body;
}

.container {
    padding-inline: min(4%, var(--spacing-xl));
    place-self: center;
    width: 100%;
}

/* code slides page */
main:has(rs-code-slides) {
    place-content: center;

    & .reference-buttons {
        margin-top: var(--spacing-lg);
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-md);
        justify-content: center;
    }
}
